body {
    margin:5px;
    padding:5px;
    line-height:1.15;
 }

 img {
    max-height: 250px;
    min-height: 250px;
    border: solid 5px;
 }

 nav {
    border-color: aqua;
    border: solid;
    border-width: 3px;
 }
 
 header nav ul li {
    display: inline-block;
    background: aqua;
    border-style: 5px;
 }